html,
body {
    height: 100%;
}

#firstRow {
    display: flex;
    flex-wrap: wrap;
    height: 10%;
}

#elementVert {
    width: 80%;
    height: 100%;
    background-color: green;
}

#elementBleu {
    width: 20%;
    height: 100%;
    background-color: blue;
}

#secondRow {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
}

#rectangleRouge {
    width: 34%;
    background-color: red;
}

#others {
    display: flex;
    flex-wrap: wrap;
    width: 66%;
}

#rectangleOrangeClair {
    width: 50%;
    height: 50%;
    background-color: orange;
}

#rectangleGris {
    width: 50%;
    height: 50%;
    background-color: grey;
}

#rectangleJaune {
    width: 33%;
    height: 50%;
    background-color: yellow;
}

#rectangleBleuVert {
    width: 34%;
    height: 50%;
    background-color: teal;
}

#rectangleOrange {
    width: 33%;
    height: 50%;
    background-color: orange;
}

#thirstRow {
    display: flex;
    flex-wrap: wrap;
    height: 30%;
}

#rectangleBleuGris {
    width: 100%;
    background-color: midnightblue;
}